.git
.github
__pycache__
*.pyc
*.pyo
*.pyd
.Python
.env
.env.prod
.env.dev
docker-compose.override.yml
data/
logs/
*.log
*.sqlite3
*.db
.DS_Store
README.md
docker-compose.prod.yml
test/
tests/
.coverage
htmlcov/
.pytest_cache/
.mypy_cache/
